.card{
    height: 210px;
    width: 200px;
    border: 2px solid black;
    display: inline-block;
    margin: 0 5px 5px 5px;
    box-shadow: 3 3px 3px black;
    border-radius: 5px;
    transition: 1s;
}
.Disc{
    padding: 0 2px 0 2px;
}
img{
    width: 100%;
    border-radius: 5px 5px 0 0;
}
#para{
    line-height: 2px;
}
.card:hover{
    box-shadow: 5px 5px 5px black;
}
